body, textarea, input, button, select, keygen, legend{margin: 0; padding: 0;font:14px "Microsoft YaHei", Verdana, "宋体", sans-serif; font-weight: normal; color: #666666; outline: 0;}
h1, h2, h3, h4, h5, h6 {font-weight: normal;}
body{background: #EDF0F4;}
summary{outline: 0;}
ul, li{list-style: none;}
img {vertical-align: middle;}
a, a:hover{text-decoration: none; cursor: pointer;}
a:link {color: #666666;}
a:visited {color: #666666;}
a:hover {color: #5B9AFF;}


.th_box{
	background:rgba(243,243,243,1);
	border:1px solid rgba(212,211,211,1);
	border-radius:5px;
	padding-bottom: 1.5em;
	/* display: inline-block; */
}
.local-active{
	background:#61A0F2;
	color:rgba(255,255,255,1);
}
.th_ul{
	min-width: 6%;
	height:40px;
	background:rgba(230,230,230,1);
	border-radius:5px 0px 0px 0px;
	text-align: center;
	float: left;
	line-height: 35px;
	cursor:pointer;
	font-size:18px;
	font-family:Microsoft YaHei;
	font-weight:400;
	color:rgba(85,85,85,1)
}
.th_move{
	min-width: 50%;
	float: left;
	height: 40px;
}
.th_sum{
	min-width: 100%;
	height:40px;
	background:rgba(97,160,242,1);
	border-radius:5px 0px 0px 0px;
	text-align: center;
	float: left;
	line-height: 35px;
	cursor:pointer;
	font-size:18px;
	font-family:Microsoft YaHei;
	font-weight:400;
	color:rgba(255,255,255,1);
}
.th_monitor_blue{
	min-width: 1%;
	height: 40px;
	background: #61A0F2;
	float: left;
}
.th_monitor_info{
	min-width: 99%;
	background: #E6E6E6;
	line-height: 40px;
	font-size:16px;
	font-family:Microsoft YaHei;
	font-weight:bold;
	color:rgba(85,85,85,1);
}
.insidebox
{
	border:1px solid rgba(212,211,211,1);
	border-radius:5px;
	margin-top: 1em;
	padding-bottom: 1em;
}
.th_monitor{
	width: 98%;
	clear: left;
	height: auto;
	margin-top: 2em;
	margin-left: 1%;
}

.tabinfo
{
	padding-top: 1em;
	margin-left: 1%;
}
.tabinfoitem
{
	float: left;
	margin-top: 3.5%;
	width: 10%;
}
.tabline
{
	margin-left: 2%;
	margin-top: 0.8%;
	float: left;
	width: 87%;
}
.tabinfoitem div
{
	text-align: center;
	margin-bottom: 10px;
	width: 100%;
	padding: 1px;
	border-radius:5px;
	border:1px solid #5B9AFF;
	background: #EEF0F6;
}
.th_box2
{
	width: 100%;
	background:rgba(243,243,243,1);
	border:1px solid rgba(212,211,211,1);
	border-radius:5px;
	margin-top: 1em;
	padding-bottom: 1em;
}
.th_monitor_blue2
{
	margin-left: 1%;
	margin-top: 1em;
	width: 1%;
	height: 40px;
	background: #61A0F2;
	float: left;
}
.th_monitor_info2
{
	margin-left: 1%;
	margin-top: 0.85em;
	width: 98%;
	height: 40px;
	background: #E6E6E6;
	line-height: 40px;
	font-size:16px;
	font-family:Microsoft YaHei;
	font-weight:bold;
	color:rgba(85,85,85,1);
}
.th_monitor .info_Indicators{
	width: 100%;
	height:auto;
	background:rgba(255,255,255,1);
}
.info_Indicators .Indicators_part{
	width: 80%;
	padding-top: 40px;
	padding-bottom: 40px;
	height: 195px;
	margin-left: 15%;
	background:#FFFFFF;
	border:0px solid rgba(226,226,226,1);
}
.Indicators_part .day{
	width:23%;
	height:144px;
	float: left;
	text-align: center;
	background:rgba(248,249,250,1);
	border:2px solid rgba(226,226,226,1);
	border-right: 0px;
}
.day .day_key{
	margin-top: 15px;
	font-size:18px;
	font-family:Microsoft YaHei;
	font-weight:400;
	color:rgba(85,85,85,1);
}
.day .day_val{
	margin-top: 10px;
	font-size:52px;
	font-family:DIN;
	font-weight:bold;
	color:rgba(97,160,242,1);
}
.Difficulty_val{
	margin-top: 10px;
	margin-left: 10%;
	width: 80%;
	word-wrap:break-word;
	font-size:16px;
	font-family:DIN;
	font-weight:500;
	color:rgba(97,160,242,1);
	line-height:23px;
	text-align: left;
}

.warningitem
{
	overflow:hidden;
	clear: both;
}
.warningitem-status
{
	text-align: center;
	margin-top: 10px;
	margin-left: 8%;
	line-height: 40px;
	display: inline-block;position: relative;float: left;
	height: 80px;
	min-width: 8%;
	font-size:18px;
	font-family:Microsoft YaHei;
	font-weight:bold;
	color:rgba(85,85,85,1);
	background:rgba(230,230,230,1);
	border:2px solid rgba(219,219,219,1);
	border-radius:5px;
}

.pass_info{
	width: 60%;
	margin-top: 3em;
	margin-left: 20%;
}
.pass_info_kv{
	width: 40%;
	height: 62px;
	float: left;
	margin-left: 7%;
}
.info_key{
	min-width: 15%;
	float: left;
	white-space:nowrap;
	font-size:18px;
	font-family:Microsoft YaHei;
	font-weight:400;
	color:rgba(85,85,85,1);
	margin-top: 10px;
}
.info_input{
	width: 80%;
	float: left;
	margin-bottom: 3em;
}
.info_input input{
	height:48px;
	width: 100%;
	color: #FFFFFF;
	border-radius:0.1875rem;
	background:rgba(255,255,255,1);
	border:1px solid rgba(212,211,211,1);
	border-radius:5px;
}
/* .info_input input:focus{
    border-style:solid;
    border-color: #03a9f4;
    box-shadow: 0 0 10px #03a9f4;
} */
.but_Export{
	margin-left: 30%;
	margin-top: 2em;
	min-width:9%;
	height:48px;
	background:rgba(97,160,242,1);
	border-radius:5px;
	font-size:18px;
	font-family:Microsoft YaHei;
	font-weight:400;
	color:rgba(255,255,255,1);
	border: 0px;
	float: left;
}
.but_Import{
	margin-left: 2%;
	margin-top: 2em;
	min-width:9%;
	height:48px;
	background:rgba(97,160,242,1);
	border-radius:5px;
	font-size:18px;
	font-family:Microsoft YaHei;
	font-weight:400;
	color:rgba(255,255,255,1);
	border: 0px;
	float: left;
}
.Export_byte{
	min-width:18%;
	margin-left: 2%;
	margin-top: 2em;
	height:48px;
	background:rgba(97,160,242,1);
	border-radius:5px;
	font-size:18px;
	font-family:Microsoft YaHei;
	font-weight:400;
	color:rgba(255,255,255,1);
	border: 0px;
}