body, textarea, input, button, select, keygen, legend{margin: 0; padding: 0;font:14px "Microsoft YaHei", Verdana, "宋体", sans-serif; font-weight: normal; color: #666666; outline: 0;}
h1, h2, h3, h4, h5, h6 {font-weight: normal;}
body{background: #EDF0F4;}
summary{outline: 0;}
ul, li{list-style: none;}
img {vertical-align: middle;}
a, a:hover{text-decoration: none; cursor: pointer;}
a:link {color: #666666;}
a:visited {color: #666666;}
a:hover {color: #5B9AFF;}


.wid-1200{
	min-width: 98%;
	margin: 0 auto;
}
.whole{
	min-width: 100%;
	display:inline;
	float: left;
	margin-top: 1em;
}

.nav{
	min-width:10%;
	height:850px;
	background:rgba(50,57,80,1);
	float: left;
}
.nav div{
	text-align: center;
	margin-top: 1em;
	font-size: 1.2em;
}
.box_top{
	min-width:88%;
	height:65px;
	background:rgba(255,255,255,1);
	border:1px solid #D2D2D2;
}
.info_img{
	min-width: 1%;
	padding-top: 2em;
	float: left;
}
.info_syt{
	min-width: 5%;
	padding-top: 2em;
	overflow-x:hidden;
	float: left;
}
.info_time{
	min-width: 15%;
	padding-left: 5%;
	padding-top: 2em;
	float: left;
}
.info_out{
	min-width: 5%;
	float: right;
	font-size:16px;
	margin-top:20px;
	right:10px;
}
.info_start{
	min-width: 5%;
	float: right;
	font-size:16px;
	color:rgba(85,85,85,1);
	margin-top:20px;
}

.box2_top{
	min-width:88%;
	height:45px;
	background:rgba(255,255,255,1);
	border:1px solid #D2D2D2;
}
.box2_top button{
	float: right;
	margin-top: 10px;
	font-size: 14px;
	margin-right: 10px;
	background: #519BFD;
	color: white;
	border:0px #ff0000 solid;
	border-radius:5px;
}
.info_line{
	height:10px;
	border-bottom:1px solid #D2D2D2;
	width: 100%;
	margin-top: 4em;
}
.two_list_img{
	min-width: 0.3%;
	float: left;
	padding-top: 12px;
	padding-left: 1%;
}
.two_list{
	min-width: 5%;
	float: left;
	padding-top: 12px;
	padding-left: 1%;
	font-size:12px;
	font-family:Microsoft YaHei;
	font-weight:bold;
	color:rgba(81,155,253,1);
}
.two_node{
	color: #555555;
	font-size:14px;
}

.th_box_part{
	min-width: 100%;
	float: left;
}
.th_sum{
	width:100px;
	height:40px;
	background:rgba(81,155,253,1);
	border-radius:5px 0px 0px 0px;
	text-align: center;
	font-size: 16px;
	float: left;
	line-height: 35px;
	cursor:pointer;
}
.th_move{
	width:100px;
	height:40px;
	background:#E2E8F2;
	margin-left: 100px;
	font-size: 16px;
	text-align: center;
	line-height: 35px;
	cursor:pointer;
}
.th_monitor_blue{
	width: 1%;
	height: 100%;
	background: #519BFD;
	float: left;
}
.th_monitor_info{
	min-width: 99%;
	height: 100%;
	background: #D4D3D3;
	line-height: 30px;
	margin-top: 50px;
}

.monitor_s{
	float: right;
	padding-right: 1em;
}
.th_box{
	background:rgba(255,255,255,1);
	border:1px solid rgba(212,211,211,1);
	border-radius:5px;
	/* margin-top: 1em;*/
	padding-bottom: 1em;
	/* display: inline-block; */
}
.insidebox
{

	border:1px solid rgba(212,211,211,1);
	border-radius:5px;
	margin-top: 1em;
	padding-bottom: 1em;
}
.th_monitor{
	width: 98%;
	clear: left;
	height:30px;
	margin-top: 2em;
	margin-left: 1%;
}

.tabinfo
{
	padding-top: 1em;
	margin-left: 1%;
}
.tabinfoitem
{
	float: left;
	margin-top: 3.5%;
	width: 10%;
}
.tabline
{
	margin-left: 2%;
	margin-top: 0.8%;
	float: left;
	width: 87%;
}
.tabinfoitem div
{
	text-align: center;
	margin-bottom: 10px;
	width: 100%;
	padding: 1px;
	border-radius:5px;
	border:1px solid #5B9AFF;
	background: #EEF0F6;
}
.th_monitor_blue2
{
	margin-left: 1%;
	margin-top: 1em;
	width: 1%;
	height: 30px;
	background: #519BFD;
	float: left;
}
.th_monitor_info2
{
	margin-left: 1%;
	margin-top: 1em;
	width: 98%;
	height: 30px;
	background: #D4D3D3;
	line-height: 30px;
}
.th_box2
{
	width: 98%;
	margin-left: 1%;
	background:rgba(255,255,255,1);
	border:1px solid rgba(212,211,211,1);
	border-radius:5px;
	margin-top: 1em;
	padding-bottom: 1em;
}
.warningitem
{
	overflow:hidden;
	clear: both;
}
.warningitem div
{
	text-align: center;
	margin-top: 10px;
	margin-left: 18px;
	line-height: 40px;
	display: inline-block;position: relative;float: left;
	height: 100px;
	border-radius:5px;
	border:1px solid #5B9AFF;
	background: #EEF0F6;
	min-width: 8%;
}
.tabexport tr
{
	height: 30px;
}
.tabexport
{
	margin-top: 2em;
	margin-left: 40%;
	width: 50%;
}