<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>WDC基本指数</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
	<script type="text/javascript" th:src="@{/js/monitor.js}"></script>
	<link th:href="@{/css/basic.css}" rel="stylesheet" type="text/css"/>
	<link th:href="@{/css/bootstrap.css}" rel="stylesheet" type="text/css"/>
</head>
<body>
<section class="outer-section">
    <div class="outer-wrapper">
        <div class="basic_top_info">
            <div class="h_top">
                <span class="top_info"><a style="color:#5B9AFF ;">基础信息</a></span>
                <span class="out_info"><a href="pass">导入导出</a></span>
            </div>
        </div>
        <div class="key_index">
            <span style="font-size: larger">WDC关键指标</span>
        </div>
        <div class="basic_info">
            <div class="basic_info_key">
                <div class="outer_img"></div>
                <div class="info_img"></div>
                <span>WDC价格</span>
                <h4 th:text="'&yen;&nbsp;'+${result.price}">&yen;20</h4>
            </div>
            <div class="basic_info_key">
                <div class="outer_img"></div>
                <div class="info_img"></div>
                <span>每天出块数量</span>
                <h4 th:text="${result.blocksCount}"></h4>
            </div>
            <div class="basic_info_key">
                <div class="outer_img"></div>
                <div class="info_img"></div>
                <span>区块高度</span>
                <h4 th:text="${result.lastConfirmedHeight}"></h4>
            </div>
            <div class="basic_info_key_clean">
                <div class="outer_img"></div>
                <div class="info_img"></div>
                <span>平均出块时间</span>
                <h4 th:text="${result.averageBlockInterval}+'&nbsp;S'"></h4>
            </div>
            <div class="basic_info_key">
                <div class="outer_img"></div>
                <div class="info_img"></div>
                <span>平均手续费(WDC)</span>
                <h4 th:text="${result.averageFee}/100000000+'WDC'">0</h4>
            </div>
            <div class="basic_info_key">
                <div class="outer_img"></div>
                <div class="info_img"></div>
                <span>事务池大小</span>
                <h4 th:text="${result.queuedTransactions} + ${result.pendingTransactions}"></h4>
            </div>
            <div class="basic_info_key" style="">
                <div class="outer_img"></div>
                <div class="info_img"></div>
                <span>当前难度</span>
                <h4 th:text="${result.target}"></h4>
            </div>
        </div>
    </div>
</section>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script language="javascript" type="text/javascript">
	$(function () {
		ShowMsg(' welcome to wisdomchain node monitor ');
	});
</script>
</body>
</html>