<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
</head>
<body>
<div class="header-one">
    <table class="header-one-table">
        <tr class="header-one-tr">
            <td class="platform">
                <i class="fa fa-bar-chart" style="color: #61A0F2;"></i>&nbsp;WDC运维平台
            </td>
            <td class="tdroot"style="text-align: left;"><i class="fa fa-address-book" style="color: #90E58A;"></i>&nbsp;用户:
                <span th:text="${customUser.getUsername()}"></span>
            </td>
            <td colspan=""class="tdtime" style="text-align: left;">
                当前时间：&nbsp;<span id = "time"></span>
            </td>

            <td class="tdstop">
                <a href="/logout"><button style="font-size:18px;font-family:Microsoft YaHei;font-weight:400;"><i class="fa fa-sign-out fa-lg"></i>&nbsp;退出</button></a>
            </td>
        </tr>
    </table>
</div>
<div class="panel-nav" style="width: 11%;height:calc(100vh - 62px);float:left;">
    <div class="inner2">
        <div id="home_link" class="current"><a href="home"><i class="fa fa-list-alt"></i>&emsp;信息概要</a></div>
        <div id="node_link"><a href="node"><i class="fa fa-list-ul"></i>&emsp;控制台&emsp;</a></div>
<!--        <div id="log_link"><a href="log"><i class="fa fa-file-text-o"></i>&emsp;日志信息</a></div>-->
        <div id="mail_link"><a href="mail"><i class="fa fa-wpexplorer"></i>&emsp;预警信息</a></div>
        <div id="user_link"><a href="user"><i class="fa fa-key"></i>&emsp;鉴权设置</a></div>
<!--        <div id="deal_link"><a href="deal"><i class="fa fa-envelope-open-o"></i>&emsp;合约部署</a></div>-->
    </div>
<!--    <div class="inner3">-->
<!--        <div><i class="fa fa-angle-double-left fa-2x"></i></div>-->
<!--    </div>-->
</div>
<div class="header-two"style="width: 89%;float:left;">
    <table>
        <tr >
            <td class="tdnode"style="font-size: 16px;"><i class="fa fa-circle" style="color: #90E58A;"></i>&nbsp;当前节点：
                <span th:text="${info.getNodeIP()}"></span>
            </td>
            <td class="tdnode-version"><i class="fa fa-unsorted" style="color: #90E58A;"></i>&nbsp;节点版本：
                <span th:text="${version}"></span>
            </td>
            <td class="tdnode-status">运行状态：
                <span th:text="${isrun}"></span>
            </td>
            <td style="color: #519BFD;">节点类型：
                <span th:text="${info.getNodeType()}"></span>
            </td>
            <td class="tdstop" id="stop"><button class="header-two-button"><i class="fa fa-stop"></i>&nbsp;停止</button></td>
            <td class="tdstop" id="restart"><button class="header-two-button"><i class="fa fa-undo"></i>&nbsp;重启</button></td>
        </tr>
    </table>
</div>
</body>

<script th:inline="javascript">
    function setTime(){
        var dt=new Date();
        var strHour=dt.getHours();
        var strMinutes=dt.getMinutes();
        var strSeconds=dt.getSeconds();
        var strYear=dt.getFullYear()+"-";
        var strMonth=(dt.getMonth()+1)+"-";
        var strDay=dt.getDate();
        if (dt.getMonth()<10){
            strMonth = "0"+strMonth;
        }
        if (strDay<10){
            strDay = "0"+strDay;
        }
        if (strHour<10){
            strHour = "0"+strHour;
        }
        if (strMinutes<10){
            strMinutes = "0"+strMinutes;
        }
        if (strSeconds<10){
            strSeconds = "0"+strSeconds;
        }
        var strTime=strHour+":"+strMinutes+":"+strSeconds;
        document.getElementById("time").innerHTML=strYear+strMonth+strDay+" "+strTime;
    }
    setInterval("setTime()",1000);
    $("#stop").click(function () {
        Swal.fire({
            type: 'question', // 弹框类型
            title: '', //标题
            text: "是否停止！", //显示内容
            confirmButtonColor: '#3085d6',// 确定按钮的 颜色
            confirmButtonText: '确定',// 确定按钮的 文字
            showCancelButton: true, // 是否显示取消按钮
            cancelButtonColor: '#d33', // 取消按钮的 颜色
            cancelButtonText: "取消", // 取消按钮的 文字
            focusCancel: true, // 是否聚焦 取消按钮
            reverseButtons: true  // 是否 反转 两个按钮的位置 默认是  左边 确定  右边 取消
        }).then(function(isConfirm){
            try {
                //判断 是否 点击的 确定按钮
                if (isConfirm.value) {
                    $.ajax({
                        type: "GET",
                        contentType: "application/json",
                        url: "/stop",
                        data: "",
                        success: function (result) {
                            if (result.code == 5000){
                                Swal.fire('', result.message, 'error');
                                return;
                            }
                            Swal.fire({
                                type: 'success', // 弹框类型
                                title: '', //标题
                                text: "成功！", //显示内容
                                confirmButtonColor: '#3085d6',// 确定按钮的 颜色
                                confirmButtonText: '确定',// 确定按钮的 文字
                                showCancelButton: false, // 是否显示取消按钮
                                cancelButtonColor: '#d33', // 取消按钮的 颜色
                                cancelButtonText: "取消", // 取消按钮的 文字
                                focusCancel: true, // 是否聚焦 取消按钮
                                reverseButtons: true  // 是否 反转 两个按钮的位置 默认是  左边 确定  右边 取消
                            }).then(function(isConfirm){
                                try {
                                    window.location.reload();
                                } catch (e) {
                                    alert(e);
                                }
                            });
                        }
                    })
                }
                else {
                    Swal.fire("取消", "点击了取消", "error");
                }
            } catch (e) {
                alert(e);
            }
        });
    });

    $("#restart").click(function () {
        Swal.fire({
            type: 'question', // 弹框类型
            title: '', //标题
            text: "是否重启！", //显示内容
            confirmButtonColor: '#3085d6',// 确定按钮的 颜色
            confirmButtonText: '确定',// 确定按钮的 文字
            showCancelButton: true, // 是否显示取消按钮
            cancelButtonColor: '#d33', // 取消按钮的 颜色
            cancelButtonText: "取消", // 取消按钮的 文字
            focusCancel: true, // 是否聚焦 取消按钮
            reverseButtons: true  // 是否 反转 两个按钮的位置 默认是  左边 确定  右边 取消
        }).then(function(isConfirm){
            try {
                //判断 是否 点击的 确定按钮
                if (isConfirm.value) {
                    $.ajax({
                        type: "GET",
                        contentType: "application/json",
                        url: "/restart",
                        data: "",
                        success: function (result) {
                            if (result.code == 5000){
                                Swal.fire('', result.message, 'error');
                                return;
                            }
                            Swal.fire({
                                type: 'success', // 弹框类型
                                title: '', //标题
                                text: "成功！", //显示内容
                                confirmButtonColor: '#3085d6',// 确定按钮的 颜色
                                confirmButtonText: '确定',// 确定按钮的 文字
                                showCancelButton: false, // 是否显示取消按钮
                                cancelButtonColor: '#d33', // 取消按钮的 颜色
                                cancelButtonText: "取消", // 取消按钮的 文字
                                focusCancel: true, // 是否聚焦 取消按钮
                                reverseButtons: true  // 是否 反转 两个按钮的位置 默认是  左边 确定  右边 取消
                            }).then(function(isConfirm){
                                try {
                                    window.location.reload();
                                } catch (e) {
                                    alert(e);
                                }
                            });
                        }
                    })
                }
                else {
                    Swal.fire("取消", "点击了取消", "error");
                }
            } catch (e) {
                alert(e);
            }
        });
    });
</script>
<script th:inline="javascript">
    $(function(){
        var u=window.location.pathname;
        if(u.indexOf('home')>-1){
            $('#home_link').css('background','#61A0F2');
        }else if(u.indexOf('node')>-1){
            $('#node_link').css('background','#61A0F2');
            $("#home_link").removeClass("current");
        }else if(u.indexOf('log')>-1){
            $('#log_link').css('background','#61A0F2');
            $("#home_link").removeClass("current");
        }else if(u.indexOf('mail')>-1){
            $('#mail_link').css('background','#61A0F2');
            $("#home_link").removeClass("current");
        }else if(u.indexOf('user')>-1){
            $('#user_link').css('background','#61A0F2');
            $("#home_link").removeClass("current");
        }else if(u.indexOf('deal')>-1){
            $('#deal_link').css('background','#61A0F2');
            $("#home_link").removeClass("current");
        }
    });

    $(document).ready(function () {
        let role = [[${role}]];
        if(role == "ROLE_REVIEWER"){//仅查询
            // document.getElementById("start").style.visibility="hidden";//隐藏
            // document.getElementById("stop").style.visibility="hidden";//隐藏
            $("#restart").attr("style","display:none;");
            $("#stop").attr("style","display:none;");
        }
    });
</script>
</html>