<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>信息概要</title>
    <link rel="stylesheet" type="text/css" href="css/home.css"/>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="js/highcharts.js"></script>
    <link th:href="@{/css/home.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/public.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/font-awesome-4.7.0/css/font-awesome.css}" rel="stylesheet" type="text/css"/>
    <script src="https://cdn.bootcss.com/sweetalert/1.1.3/sweetalert.min.js"></script>
</head>
<body style="background: #EDF0F4">
<div class="headpage"></div>
<div style="width: 87%;margin-left: 1%;float: left;margin-top: 1%;">
    <div class="th_box">
        <div style="width: 100%;height: 40px;">
            <span id="url-jump" class="th_ul">
                <p class="th_sum" href="#panel-657186" data-toggle="tab" id="sum" onclick='g(this.id)'>信息概要</p>
                <p class="th_move" href="#panel-440280" data-toggle="tab" id="move" onclick='g(this.id)'>导入导出</p>
            </span>
        </div>
        <div class="tab-content">
            <div class="tab-pane active" id="panel-657186">
                <div class="th_monitor">
                    <div class="th_monitor_blue"></div>
                    <div class="th_monitor_info">
                        <span style="margin-left: 10px;">监控信息</span>
                    </div>

                    <div class="info_Indicators">
                        <div class="Indicators_part">
								<span class="day">
									<div class="day_key">每天出块数量</div>
									<div class="day_val" th:text="${result.blocksCount}==''?'0':${result.blocksCount}"></div>
								</span>
                            <span class="day">
									<div class="day_key">区块高度</div>
									<div class="day_val" th:text="${result.lastConfirmedHeight}==''?'0':${result.lastConfirmedHeight}"></div>
								</span>
                            <span class="day">
									<div class="day_key">平均手续费(WDC)</div>
									<div class="day_val" th:text="${result.averageFee}==''?'0':${result.averageFee}"></div>
								</span>
                            <span class="day"style="border-right:2px solid rgba(226,226,226,1)">
									<div class="day_key">平均出块时间</div>
									<div class="day_val" th:text="${result.averageBlockInterval}==''?'0':${result.averageBlockInterval}+'&nbsp;S'"></div>
								</span>
                        </div>
                        <div class="Indicators_part" style="padding-top: 0px;">
								<span class="day">
									<div class="day_key">事务池大小</div>
									<div class="day_val" th:text="(${result.queuedTransactions}==''?'0':${result.queuedTransactions}) + (${result.pendingTransactions}==null?'0':${result.pendingTransactions})"></div>
								</span>
                            <span class="day"style="border-right:2px solid rgba(226,226,226,1)">
									<div class="day_key">当前难度</div>
									<div class="Difficulty_val" th:text="${result.target}==''?'0':${result.target}"></div>
								</span>
                        </div>
                    </div>
                </div>

            </div>

            <div class="tab-pane" id="panel-440280">
                <div class="pass_info">
                    <div class="pass_info_kv">
                        <div class="info_key">地址1:</div>
                        <div class="info_input"><input /></div>
                    </div>
                    <div class="pass_info_kv">
                        <div class="info_key">分类1:</div>
                        <div class="info_input"><input /></div>
                    </div>
                    <div class="pass_info_kv">
                        <div class="info_key">地址2:</div>
                        <div class="info_input"><input /></div>
                    </div>
                    <div class="pass_info_kv">
                        <div class="info_key">分类2:</div>
                        <div class="info_input"><input /></div>
                    </div>
                    <div class="pass_info_kv">
                        <div class="info_key">地址3:</div>
                        <div class="info_input"><input /></div>
                    </div>
                    <div class="pass_info_kv">
                        <div class="info_key">分类3:</div>
                        <div class="info_input"><input /></div>
                    </div>
                    <button class="but_Export">导出</button>
                    <button class="but_Import">导入</button>
                    <button class="Export_byte">导出字节格式数据</button>
                </div>
            </div>
        </div>
    </div>
    <div class="th_box2" style="height: auto;">
        <div class="th_monitor_blue2"></div>
        <div class="th_monitor_info2">
            <span style="margin-left: 10px;">预警状态</span>
        </div>
        <div class="warningitem">
            <div class="warningitem-status" style="margin-left: 23%;">
                <div th:fragment="article_type">CPU状态</div>
                <span id = "cpuStatus"></span>
            </div>
            <div class="warningitem-status">
                <div>卡块情况</div>
                <span th:text="'&nbsp;'"  id = "blockStatus"></span>
            </div>
            <div class="warningitem-status">
                <div>停运情况</div>
                <span th:text="'&nbsp;'"  id = "outageStatus"></span>
            </div>
            <div class="warningitem-status">
                <div>分叉情况</div>
                <span th:text="'&nbsp;'"  id = "bifurcation"></span>
            </div>
        </div>
    </div>
</div>

</body>
<script>
    var chart = null;
    $.getJSON('getLinedata/Json', function (data) {
        chart = Highcharts.chart('container', {
            chart: {
                zoomType: 'x'
            },
            title: {
                text: 'WDC价格走势图'
            },
            xAxis: {
                type: 'datetime',
                dateTimeLabelFormats: {
                    millisecond: '%H:%M:%S.%L',
                    second: '%H:%M:%S',
                    minute: '%H:%M',
                    hour: '%H:%M',
                    day: '%m-%d',
                    week: '%m-%d',
                    month: '%Y-%m',
                    year: '%Y'
                }
            },
            tooltip: {
                dateTimeLabelFormats: {
                    millisecond: '%H:%M:%S.%L',
                    second: '%H:%M:%S',
                    minute: '%H:%M',
                    hour: '%H:%M',
                    day: '%Y-%m-%d',
                    week: '%m-%d',
                    month: '%Y-%m',
                    year: '%Y'
                }
            },
            yAxis: {
                title: {
                    text: ''
                }
            },
            legend: {
                enabled: false
            },
            plotOptions: {
                area: {
                    fillColor: {
                        linearGradient: {
                            x1: 0,
                            y1: 0,
                            x2: 0,
                            y2: 1
                        },
                        stops: [
                            [0, new Highcharts.getOptions().colors[0]],
                            [1, new Highcharts.Color(Highcharts.getOptions().colors[0]).setOpacity(0).get('rgba')]
                        ]
                    },
                    marker: {
                        radius: 2
                    },
                    lineWidth: 1,
                    states: {
                        hover: {
                            lineWidth: 1
                        }
                    },
                    threshold: null
                }
            },
            series: [{
                type: 'area',
                name: 'Price',
                data: data
            }]
        });
    });
    $(function () {
        $(" .headpage").load("control");
        $('#export').click(function () {
            var from_value = $('#input_from').val();
            if ($.trim(from_value) != "") {
                var json = {};
                json.from = from_value;
                window.location.href = "export/txrecordFromAddress?json=" + encodeURI(JSON.stringify(json));
            } else {
                Swal.fire('', '请输入地址!', 'error');
            }
        });
    });
</script>
<script th:inline="javascript">
    $("#import").hidden;
    var t2 = window.setInterval(function() {
        $.ajax({
            type: "GET",
            contentType: "application/json",
            url: "/block",
            data: "",
            success: function (result) {
                console.log(result);
                document.getElementById("blockStatus").innerHTML = result;
                }
        }),
        $.ajax({
            type: "GET",
            contentType: "application/json",
            url: "/cpu",
            data: "",
            success: function (result) {
                console.log(result);
                document.getElementById("cpuStatus").innerHTML = result;
            }
        })
    },1000);

    var role = [[role]];

    $(function () {
        $.ajax({
            type: "GET",
            contentType: "application/json",
            url: "/outageStatus",
            data: "",
            success: function (result) {
                console.log(result);
                if(result){
                    document.getElementById("outageStatus").innerHTML = "正常";
                }else{
                    document.getElementById("outageStatus").innerHTML = "异常";
                }
            }
        })
    });
    $(function () {
        $.ajax({
            type: "GET",
            contentType: "application/json",
            url: "/bifurcation",
            data: "",
            success: function (result) {
                console.log(result);
                if(result){
                    document.getElementById("bifurcation").innerHTML = "正常";
                }else{
                    document.getElementById("bifurcation").innerHTML = "异常";
                }
            }
        })
    });

</script>
<script th:inline="javascript">
    $('#move').click(function(){
        $("div .th_box2").hide()
    })
    $('#sum').click(function(){
        $("div .th_box2").show()
    });
    function g(sum){
        d=document.getElementsByTagName('p')
        for(p=d.length;p--;){
            if(d[p].id!=sum){
                d[p].style.backgroundColor='#E6E6E6'
                d[p].style.color='#555555'
            }
            else{
                d[p].style.backgroundColor='#61A0F2'
                d[p].style.color='#FFFFFF'
            }

        }
    }
</script>

</html>
