<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>控制台</title>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link th:href="@{/css/node.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/public.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/font-awesome-4.7.0/css/font-awesome.css}" rel="stylesheet" type="text/css"/>
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
<!--    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
</head>
<body style="background: #EDF0F4;">
<div class="headpage" style="border:0px solid #555555;"></div>
<div class="control_cont" style="width: 87%;margin-left: 1%;float: left;margin-top: 1%;height: auto;">
    <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal"
            style="background:#61A0F2;margin-left: 2%;margin-top: 20px;border: 0px" id="add">
        +&nbsp;添加新的节点
    </button>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <div class="moda">
                        <h4 class="modal-title moda_info">
                            节点IP:
                        </h4>
                        <input class="form-control" id="nodeIp">
                    </div>
                    <div class="moda">
                        <h4 class="modal-title moda_info">
                            节点PORT:
                        </h4>
                        <input class="form-control" id="nodePort">
                    </div>
                    <div class="moda">
                        <h4 class="modal-title moda_info">
                            节点类型:
                        </h4>
                        <select id="nodetype">
                            <option th:value=1>全节点</option>
                            <option th:value=2>矿工节点</option>
                        </select>
                    </div>

                    <div class="moda moda-root">

                        <h4 class="modal-title"style="width: 100%">
                            远程连接信息
                        </h4>
                    </div>
                    <div class="moda-le">
                        <div class="">
                            <h4 class="modal-title moda-root-info">
                                用户:
                            </h4>
                            <input class="form-control moda-in" id="username">
                        </div>
                        <div class="">
                            <h4 class="modal-title moda-root-info">
                                密码:
                            </h4>
                            <input class="form-control moda-in" id="password" type="password">
                        </div>
                        <div class="ju-c">
                            <button type="button" class="btn btn-primary" id="connection">测试连接</button>
                        </div>
                    </div>
                    <div class="moda-le">
                        <h5 style="color: green;display: none" id="wait">请等待...</h5>
                        <h5 style="color: green;display: none" id="success">连接成功</h5>
                        <h5 style="color: red;display: none" id="fail">连接失败</h5>
                    </div>


                    <div class="moda moda-root">

                        <h4 class="modal-title"style="width: 100%">
                            数据库远程连接信息
                        </h4>
                    </div>
                    <div class="moda-le">
                        <div class="">
                            <h4 class="modal-title moda-root-info">
                                URL:
                            </h4>
                            <input class="form-control moda-in" id="url">
                        </div>
                        <div class="">
                            <h4 class="modal-title moda-root-info">
                                数据库名称:
                            </h4>
                            <input class="form-control moda-in" id="database">
                        </div>
                    </div>
                    <div class="moda-le">
                        <div class="">
                            <h4 class="modal-title moda-root-info">
                                用户:
                            </h4>
                            <input class="form-control moda-in" id="dbusername">
                        </div>
                        <div class="">
                            <h4 class="modal-title moda-root-info">

                            </h4>
                            <input class="form-control moda-in" id="dbpassword">
                        </div>
                        <div class="ju-c">
                            <button type="button" class="btn btn-primary" id="dbconnection">数据库连接测试</button>
                        </div>
                    </div>
                    <div class="moda-le">
                        <h5 style="color: green;display: none" id="dbwait">请等待...</h5>
                        <h5 style="color: green;display: none" id="dbsuccess">连接成功</h5>
                        <h5 style="color: red;display: none" id="dbfail">连接失败</h5>
                    </div>

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        关闭
                    </button>
                    <button type="button" id="bt_submit" class="btn btn-primary">
                        提交
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="control">
        <table>
            <tr>
                <th style="text-align: center;">序号</th>
                <th style="text-align: center;">节点信息</th>
                <th style="text-align: center;">节点版本</th>
                <th style="text-align: center;">运行状态</th>
                <th style="text-align: center;">节点类型</th>
                <th style="text-align: center;" id="operation">操作</th>
            </tr>
            <tr th:each="node,nodeState: ${nodesList}">
                <td th:text="${nodeState.index+1}">Asegmahh</td>
                <td th:text="${node.getNodeIP()}+':'+${node.getNodePort()}">Asegmahh</td>
                <td th:text="${node.getNodeVersion()}">Asegmahh</td>
                <td th:text="${node.getNodeState()}">Asegmahh</td>
                <td th:switch="${node.getNodeType()}">
                    <p th:case=1>全节点</p>
                    <p th:case=2>矿工节点</p>
                </td>
                <td class="operations">
                    <button th:if="${node.getNodeIP()}+':'+${node.getNodePort()} != ${nodeip} "  class="do bt_bind" th:id="${node.getNodeIP()}+':'+${node.getNodePort()}">绑定</button>
                    <button th:if="${node.getNodeIP()}+':'+${node.getNodePort()} == ${nodeip} "  class="do bt_unbind" th:id="${node.getNodeIP()}+':'+${node.getNodePort()}">解绑</button>
                    <button class="do bt_delete" th:id="${node.getNodeIP()}+':'+${node.getNodePort()}">删除</button>
                </td>
            </tr>
        </table>
    </div>
</div>
<script th:inline="javascript">
    $(function () {
        $(" .headpage").load("control");
        $('#bt_submit').click(function () {
            var re = /^(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])$/
            var r = re.test($('#nodeIp').val());
            if (!r)
            {
                Swal.fire("", "IP地址不正确", "error");
                return;
            }
            var urlData = {nodeIP: $('#nodeIp').val(),nodePort: $('#nodePort').val(), nodeType: $('#nodetype').val(), userName: $('#username').val(), password: $('#password').val()};

            Swal.fire({
                type: 'question', // 弹框类型
                title: '', //标题
                text: "是否添加！", //显示内容

                confirmButtonColor: '#3085d6',// 确定按钮的 颜色
                confirmButtonText: '确定',// 确定按钮的 文字
                showCancelButton: true, // 是否显示取消按钮
                cancelButtonColor: '#d33', // 取消按钮的 颜色
                cancelButtonText: "取消", // 取消按钮的 文字

                focusCancel: true, // 是否聚焦 取消按钮
                reverseButtons: true  // 是否 反转 两个按钮的位置 默认是  左边 确定  右边 取消
            }).then(function(isConfirm){
                try {
                    //判断 是否 点击的 确定按钮
                    if (isConfirm.value) {
                        $.get('addnode', urlData, function (result) {
                            $(".modal").css("display", "none");
                            $(".modal-backdrop").css("display", "none");
                            if(result.code == 2000){
                                Swal.fire({
                                    type: 'success', // 弹框类型
                                    title: '', //标题
                                    text: "添加成功！", //显示内容

                                    confirmButtonColor: '#3085d6',// 确定按钮的 颜色
                                    confirmButtonText: '确定',// 确定按钮的 文字
                                    showCancelButton: false, // 是否显示取消按钮
                                    cancelButtonColor: '#d33', // 取消按钮的 颜色
                                    cancelButtonText: "取消", // 取消按钮的 文字

                                    focusCancel: true, // 是否聚焦 取消按钮
                                    reverseButtons: true  // 是否 反转 两个按钮的位置 默认是  左边 确定  右边 取消
                                }).then(function(isConfirm){
                                    try {
                                        //判断 是否 点击的 确定按钮
                                        if (isConfirm.value) {
                                            window.location.reload();
                                        }
                                    } catch (e) {
                                        alert(e);
                                    }
                                });
                            }
                        }, 'json');

                    }
                    else {
                        Swal.fire("取消", "点击了取消", "error");
                    }
                } catch (e) {
                    alert(e);
                }
            });

        });
        //删除
        $(' .bt_delete').click(function () {
            var urlData = {nodeStr: $(this).attr('id')};
            Swal.fire({
                type: 'question', // 弹框类型
                title: '', //标题
                text: "是否删除！", //显示内容

                confirmButtonColor: '#3085d6',// 确定按钮的 颜色
                confirmButtonText: '确定',// 确定按钮的 文字
                showCancelButton: true, // 是否显示取消按钮
                cancelButtonColor: '#d33', // 取消按钮的 颜色
                cancelButtonText: "取消", // 取消按钮的 文字

                focusCancel: true, // 是否聚焦 取消按钮
                reverseButtons: true  // 是否 反转 两个按钮的位置 默认是  左边 确定  右边 取消
            }).then(function(isConfirm){
                try {
                    //判断 是否 点击的 确定按钮
                    if (isConfirm.value) {
                        $.get('deleteNode', urlData, function (result) {
                            $(".modal").css("display", "none");
                            $(".modal-backdrop").css("display", "none");
                            if(result.code == 2000){
                                Swal.fire({
                                    type: 'success', // 弹框类型
                                    title: '', //标题
                                    text: "删除成功！", //显示内容

                                    confirmButtonColor: '#3085d6',// 确定按钮的 颜色
                                    confirmButtonText: '确定',// 确定按钮的 文字
                                    showCancelButton: false, // 是否显示取消按钮
                                    cancelButtonColor: '#d33', // 取消按钮的 颜色
                                    cancelButtonText: "取消", // 取消按钮的 文字

                                    focusCancel: true, // 是否聚焦 取消按钮
                                    reverseButtons: true  // 是否 反转 两个按钮的位置 默认是  左边 确定  右边 取消
                                }).then(function(isConfirm){
                                    try {
                                        //判断 是否 点击的 确定按钮
                                        if (isConfirm.value) {
                                            window.location.reload();
                                        }
                                    } catch (e) {
                                        alert(e);
                                    }
                                });
                            }
                        }, 'json');

                    }
                    else {
                        Swal.fire("取消", "点击了取消", "error");
                    }
                } catch (e) {
                    alert(e);
                }
            });
        });

        //绑定
        $(' .bt_bind').click(function () {
            var urlData = {nodeStr: $(this).attr('id')};
            Swal.fire({
                type: 'question', // 弹框类型
                title: '', //标题
                text: "是否绑定！", //显示内容

                confirmButtonColor: '#3085d6',// 确定按钮的 颜色
                confirmButtonText: '确定',// 确定按钮的 文字
                showCancelButton: true, // 是否显示取消按钮
                cancelButtonColor: '#d33', // 取消按钮的 颜色
                cancelButtonText: "取消", // 取消按钮的 文字

                focusCancel: true, // 是否聚焦 取消按钮
                reverseButtons: true  // 是否 反转 两个按钮的位置 默认是  左边 确定  右边 取消
            }).then(function(isConfirm){
                try {
                    //判断 是否 点击的 确定按钮
                    if (isConfirm.value) {
                        $.get('bindNode', urlData, function (result) {
                            $(".modal").css("display", "none");
                            $(".modal-backdrop").css("display", "none");
                            if(result.code == 2000){
                                Swal.fire({
                                    type: 'success', // 弹框类型
                                    title: '', //标题
                                    text: "绑定成功！", //显示内容

                                    confirmButtonColor: '#3085d6',// 确定按钮的 颜色
                                    confirmButtonText: '确定',// 确定按钮的 文字
                                    showCancelButton: false, // 是否显示取消按钮
                                    cancelButtonColor: '#d33', // 取消按钮的 颜色
                                    cancelButtonText: "取消", // 取消按钮的 文字

                                    focusCancel: true, // 是否聚焦 取消按钮
                                    reverseButtons: true  // 是否 反转 两个按钮的位置 默认是  左边 确定  右边 取消
                                }).then(function(isConfirm){
                                    try {
                                        //判断 是否 点击的 确定按钮
                                        if (isConfirm.value) {
                                            window.location.reload();
                                        }
                                    } catch (e) {
                                        alert(e);
                                    }
                                });
                            }
                        }, 'json');

                    }
                    else {
                        Swal.fire("取消", "点击了取消", "error");
                    }
                } catch (e) {
                    alert(e);
                }
            });
        });
        //解绑
        $(' .bt_unbind').click(function () {
            var urlData = {nodeStr: $(this).attr('id')};
            Swal.fire({
                type: 'question', // 弹框类型
                title: '', //标题
                text: "是否解绑！", //显示内容

                confirmButtonColor: '#3085d6',// 确定按钮的 颜色
                confirmButtonText: '确定',// 确定按钮的 文字
                showCancelButton: true, // 是否显示取消按钮
                cancelButtonColor: '#d33', // 取消按钮的 颜色
                cancelButtonText: "取消", // 取消按钮的 文字

                focusCancel: true, // 是否聚焦 取消按钮
                reverseButtons: true  // 是否 反转 两个按钮的位置 默认是  左边 确定  右边 取消
            }).then(function(isConfirm){
                try {
                    //判断 是否 点击的 确定按钮
                    if (isConfirm.value) {
                        $.get('unbindNode', urlData, function (result) {
                            $(".modal").css("display", "none");
                            $(".modal-backdrop").css("display", "none");
                            if(result.code == 2000){
                                Swal.fire({
                                    type: 'success', // 弹框类型
                                    title: '', //标题
                                    text: "解绑成功！", //显示内容
                                    confirmButtonColor: '#3085d6',// 确定按钮的 颜色
                                    confirmButtonText: '确定',// 确定按钮的 文字
                                    showCancelButton: false, // 是否显示取消按钮
                                    cancelButtonColor: '#d33', // 取消按钮的 颜色
                                    cancelButtonText: "取消", // 取消按钮的 文字

                                    focusCancel: true, // 是否聚焦 取消按钮
                                    reverseButtons: true  // 是否 反转 两个按钮的位置 默认是  左边 确定  右边 取消
                                }).then(function(isConfirm){
                                    try {
                                        //判断 是否 点击的 确定按钮
                                        if (isConfirm.value) {
                                            window.location.reload();
                                        }
                                    } catch (e) {
                                        alert(e);
                                    }
                                });
                            }
                        }, 'json');

                    }
                    else {
                        Swal.fire("取消", "点击了取消", "error");
                    }
                } catch (e) {
                    alert(e);
                }
            });
        });

        $(document).ready(function () {
            var role = [[${role}]];
            if(role == "ROLE_REVIEWER"){//仅查询
                $("#operation").attr("style","display:none;");//隐藏div
                $("#add").attr("style","display:none;");//隐藏div
                var aa = document.getElementsByClassName("operations");//获取到的是一个类数组
                $(".operations").attr("style","display:none;");
            }
        });

        $("#connection").click(function () {
            $("#wait").css("display", "none");
            $("#fail").css("display", "none");
            var re = /^(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])$/
            var r = re.test($('#nodeIp').val());
            if (!r)
            {
                Swal.fire("", "IP地址不正确", "error");
                return;
            }
            var username = $('#username').val();
            var password = $('#password').val();
            if (username == "" || password == ""){
                Swal.fire("", "请完善远程信息", "error");
                return;
            }
            $("#wait").css("display", "table-row");
            var urlData = {ip: $('#nodeIp').val(),username: $('#username').val(), password: $('#password').val()};
            $.get('connectionTest', urlData, function (result) {

                if(result.code == 2000){
                    $("#wait").css("display", "none");
                    $("#fail").css("display", "none");
                    $("#success").css("display", "table-row");
                }else {
                    $("#fail").css("display", "table-row");
                    $("#wait").css("display", "none");
                    $("#success").css("display", "none");
                }
            });
        });
    });
</script>
</body>
</html>
